.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
.navbar{
	border-radius: 0;
}
.btn-default{
width: 100%;
}
.navbar-inverse{
	background-color: #9e9e9e;
	border-color:#9e9e9e;
}
.navbar-inverse .navbar-nav>.active>a {
	background-color: #9e9e9e;
}
.navbar-inverse .navbar-nav>li>a {
	color:#ffffff;
}

  </style>